In [9]:
import pandas as pd
import nltk
from nltk.sentiment import SentimentIntensityAnalyzer

In [10]:
nltk.download(['vader_lexicon'])

[nltk_data] Downloading package vader_lexicon to C:\Users\Tim
[nltk_data]     Kraemer\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [2]:
tweet_data = pd.read_csv('Tweet.csv',  index_col=0)

C:\Users\Tim Kraemer\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [5]:
TA1 = tweet_data[pd.to_datetime(tweet_data.post_date*1e9, origin='unix')]

KeyboardInterrupt:

In [12]:
SIA = SentimentIntensityAnalyzer()

In [26]:
TA = tweet_data
TA1 = list(pd.to_datetime(TA.post_date*1e9, origin='unix'))
positive_scores = []
negative_scores = []
neutral_scores = []
compound_scores = []
for s in TA.body:
    d = SIA.polarity_scores(s)
    positive_scores.append(d['pos'])
    negative_scores.append(d['neg'])
    neutral_scores.append(d['neu'])
    compound_scores.append(d['compound'])

d = {
    "Date": pd.Series(TA1, index=TA.index),
    "Positive":pd.Series(positive_scores, index=TA.index),
    "Negative":pd.Series(negative_scores, index=TA.index),
    "Neutral":pd.Series(neutral_scores, index=TA.index),
    "Compound":pd.Series(compound_scores, index=TA.index),
}

df = pd.DataFrame(d)
df.to_csv('Sentimental_Tweets.csv')

In [6]:
pd.to_datetime(tweet_data.post_date*1e9, origin='unix')

tweet_id
550441509175443456    2015-01-01 00:00:57
550441672312512512    2015-01-01 00:01:36
550441732014223360    2015-01-01 00:01:50
550442977802207232    2015-01-01 00:06:47
550443807834402816    2015-01-01 00:10:05
                              ...
1212159765914079234   2019-12-31 23:53:03
1212159838882533376   2019-12-31 23:53:21
1212160015332728833   2019-12-31 23:54:03
1212160410692046849   2019-12-31 23:55:37
1212160477159206912   2019-12-31 23:55:53
Name: post_date, Length: 3717964, dtype: datetime64[ns]

In [22]:
tweet_data

,writer,post_date,body,comment_num,retweet_num,like_num
tweet_id,,,,,,
550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1
550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0
550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0
550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1
550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1
...,...,...,...,...,...,...
1212159765914079234,TEEELAZER,1577836383,That $SPY $SPX puuump in the last hour was the...,1,0,6
1212159838882533376,ShortingIsFun,1577836401,In 2020 I may start Tweeting out positive news...,0,0,1
1212160015332728833,Commuternyc,1577836443,Patiently Waiting for the no twitter sitter tw...,0,0,5
1212160410692046849,MoriaCrypto,1577836537,I don't discriminate. I own both $aapl and $ms...,1,0,1
1212160477159206912,treabase,1577836553,"$AAPL #patent 10,522,475 Vertical interconnect...",0,0,0

In [27]:
df

                                   Date  Positive  Negative  Neutral  Compound
tweet_id
550441509175443456  2015-01-01 00:00:57     0.000     0.000    1.000    0.0000
550441672312512512  2015-01-01 00:01:36     0.000     0.339    0.661   -0.8271
550441732014223360  2015-01-01 00:01:50     0.000     0.000    1.000    0.0000
550442977802207232  2015-01-01 00:06:47     0.000     0.000    1.000    0.0000
550443807834402816  2015-01-01 00:10:05     0.000     0.000    1.000    0.0000
...                                 ...       ...       ...      ...       ...
1212159765914079234 2019-12-31 23:53:03     0.084     0.092    0.824   -0.3382
1212159838882533376 2019-12-31 23:53:21     0.079     0.155    0.766   -0.5423
1212160015332728833 2019-12-31 23:54:03     0.000     0.196    0.804   -0.2960
1212160410692046849 2019-12-31 23:55:37     0.000     0.000    1.000    0.0000
1212160477159206912 2019-12-31 23:55:53     0.000     0.000    1.000    0.0000

[3717964 rows x 5 columns]